body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.conatiner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
/* nav */

.site-nav {
  border-bottom: 1px solid #ececec;
}
.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.logo-bicolor {
  color: #000;
}
.contact-icon {
  fill: currentColor;
  display: inline-flex;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  padding-right: 10px;
}
.nav-links-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 70px;
}
.nav-links-list li {
  margin: 0 23px;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-items {
  list-style: none;
  text-decoration: none;
}
.list-style {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
}
.list-style:hover {
  color: #2196f3;
}
.list-style:focus {
  color: #2196f3;
  outline: none;
}
.link-color:link,
.link-color:visited {
  color: #212121;
}
.link-color:hover {
  color: #2196f3;
}
.link-color:focus {
  color: #2196f3;
  outline: none;
}
.nav-contact-list {
  display: flex;
  gap: 50px;
  align-items: center;
  padding-right: 12px;
}
.contact-items {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  fill: currentColor;
}
.contact-items:hover {
  color: #2196f3;
  fill: currentColor;
}
.contact-items:focus {
  color: #2196f3;
  fill: currentColor;
  outline: none;
}

/* section 1 header */

.section-one {
  padding: 200px 0;
  background-color: #2f303a;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/Img-overlay.png"),
    url("../images/Img-11.jpg");
  background-position: 50% 50%;
  max-width: 1600px;
  margin: 0 auto;
}
.header-one {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  color: #fff;
  letter-spacing: 0.06em;
}
.header-button {
  background: #2196f3;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

/* section 2 nasze atuty */

.section-two {
  margin-top: 94px;
  margin-bottom: 94px;
}
.header-three {
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.paragraph-lorem {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.display-style {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  box-sizing: border-box;
}
.adventages-icons {
  padding: 25px 100px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

/* section 3 czym sie zajmujemy */

.header-two {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.pictures-list-items {
  display: flex;
  gap: 30px;
  margin-bottom: 94px;
}
.pictures-list-items li {
  list-style: none;
  width: 370px;
  height: 294px;
}

/* section 4 nasz zespol */

.our-team-box {
  padding: 94px;
  background: #f5f4fa;
}
.work-position {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
}
.team-figure-box {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.header-four {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
}
.social-media-list {
  color: #afb1b8;
  padding: 12px 12px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-top: 16px;
  gap: 10px;
  display: block;
}
.social-media-list:hover {
  color: #fff;
  background-color: #2196f3;
  cursor: pointer;
}
.social-media-list:focus {
  color: #fff;
  background-color: #2196f3;
  cursor: pointer;
  outline: none;
}
.social-media-grid {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.social-media-icon {
  display: block;
  fill: currentColor;
}

/* section our clients */

.our-client-box {
  padding: 94px 0;
}
.our-client-icons li {
  list-style: none;
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-client-button:hover {
  fill: #2196f3;
  cursor: pointer;
  border-color: #2196f3;
}
.our-client-button:focus {
  fill: #2196f3;
  cursor: pointer;
  border-color: #2196f3;
  outline: none;
}
.our-client-icons {
  display: flex;
  gap: 30px;
}
.our-client-button {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: #fff;
  padding: 16px 32px;
}

/* section portfolio */

.portfolio-content-box {
  margin-bottom: 94px;
}
.button-style {
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  align-items: center;
  box-shadow: none;
  border: none;
  padding: 6px 22px;
}
.button-style:hover {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button-style:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  outline: none;
}
.button-list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
}

.figure-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
.figure-description:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.figure-description:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.figure-box-size {
  width: calc((100% - 60px) / 3);
}
.figure-text-border {
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.header-five {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 20px 24px 4px 24px;
}
.figure-description p {
  font-weight: 400;
  margin-left: 24px;
  margin-bottom: 20px;
}
.no-gap-image {
  display: block;
  max-width: 100%;
  height: auto;
}

/* footer */

.address-items {
  margin-top: 20px;
}
.address-items li {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}

.contact-footer {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.contact-footer:hover {
  color: #2196f3;
}
.contact-footer:focus {
  color: #2196f3;
  outline: none;
}

.footer-box {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer-links-header {
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
.footer-style {
  display: flex;
  justify-content: left;
}
.footer-social-links {
  padding-left: 70px;
}
.footer-social-media-list li {
  fill: #fff;
  list-style: none;
  margin-top: 16px;
  gap: 10px;
}
.footer-social-media-link {
  padding: 12px 12px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #fff;
  display: block;
}
.footer-social-media-link:hover {
  color: #fff;
  background-color: #2196f3;
  cursor: pointer;
}
.footer-social-media-link:focus {
  color: #fff;
  background-color: #2196f3;
  cursor: pointer;
  outline: none;
}
.footer-social-media-list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.footer-social-media-icon {
  display: block;
  fill: currentColor;
}
